<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Testes Back-End">
      <directory suffix="Test.php">./test/</directory><!-- Estamos informando que todo arquivo de teste terá a terminação "test.php" no final do nome do arquivo. Além disso informamos também que a pasta onde ficaram os arquivos de testes se´ra a pasta test.-->
    </testsuite>
  </testsuites>
</phpunit>